FlaskApiVenv/
backend/common/database.ini

# Certbot files and directories
/.well-known/
/renewal/
*node_modules
# Ignore Certbot configuration files
/etc/letsencrypt/
*.pem
*/downloadDB
.idea/
.vscode/
.venv*/
venv*/
*__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/