version: '4.1.0'

services:
  medmolnet-front:
    image: medmolnet-frontend
    container_name: medmolnet-frontend
    build:
      context: ./frontend 
      dockerfile: Dockerfile 
    ports:
      - 3654:3000
    environment:
      - REACT_APP_API_URL=https://proteinnetworksight.jce.ac

  medmolnet-back:
    image: medmolnet-backend
    container_name: medmolnet-backend
    build:
      context: ./backend 
      dockerfile: Dockerfile  
    ports:
      - 5654:5000
    environment:
      - DB_CONFIG=database.prod.ini

  nginx:
    image: nginx
    container_name: nginx
    restart: unless-stopped
    ports:
        - 8825:80
    volumes:
       - ./nginx:/etc/nginx


