<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\env\Scripts\python.exe|C:\inetpub\wwwroot\env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="Access-Control-Allow-Origin" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <remove name="Access-Control-Allow-Headers" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
        <remove name="Access-Control-Allow-Methods" />
        <add name="Access-Control-Allow-Methods" value="GET, POST" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="routes.app" />
    <add key="PYTHONPATH" value="/usr/bin/python3" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\Flask_IIS\app.log" />
  </appSettings>
</configuration>  