.action-page {
  display: flex;
  width: 100%;
  background-image:var(  --background-light-gradient);
  height: var(--container-height);
  padding: 1% 5%;
}

.explanation-wrapper {
  width: 30%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 35px;
  margin-right: 30px;
  /* background-color: antiquewhite; */
  /* border: 1px solid var(--primary); */
}
.result {
    border-radius: 10px;
  width: 85%;
  height: 100%;
}
.steps {
    border-radius: 10px;
  width: 70%;
  height: 100%;
    /* border: 1px solid var(--primary); */

    background-color: white;

}
.step-bar {
    border-radius: 10px;

  height: 10%;
  width: 100%;
}

.step-content {
    border-radius: 10px;
  width: 100%;
  height: 70%;
}

.buttons-bar {
    border-radius: 10px;
  height: 15%;
  width: 100%;
}
