.action-page {
  display: flex;
  width: 100%;
  background-image:var(--background-light-gradient);
  height: var(--container-height);
  padding: 1% 5%;
}

.explanation-wrapper {
  width: 30%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 35px;
  margin-right: 30px;
  /* background-color: antiquewhite; */
  /* border: 1px solid var(--primary); */
}
.result {
  border-radius: 5px;
  width: 100%;
  height: 150%;
  color: red;
}

.steps {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: green;
  overflow-y: hidden;
}

.step-bar {
  border-radius: 10px;
  height: 10%;
  width: 100%;
}

.step-content {
  overflow-y: scroll;
  border-radius: 10px;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.buttons-bar {
  border-radius: 10px;
  height: 15%;
  width: 100%;
}

.main-wrapper{
  width: 100%;
  height: 110%;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}
