.file-details-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}
.text-input{
    width: 100%;
    height: 50px;
    margin-top: 5px;
    border: 1px solid var(--text-gray);
    border-radius: 5px;
    padding-left: 5px ;
}

.text-input:focus{
    outline: 1px solid var( --primary);

}
.row-fields{
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
}
.row-fields>.field{
 height: 100%;
 margin-right: 5px;;
}

.field{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: auto;
}
.field label{
    text-transform: uppercase;
    font-size: var(--small-text);
    color: var(--text-dark-blue);
}

.detail-error{
    font-size:  var(--big-text);
    color: red;
}

.detail-warning{
    font-size:  var(--big-text);
    color: rgb(255, 185, 0);
}

.button-container{
    width: 30%;
    height: 70px;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: auto;
}

.button{
    width: 100%;
    height: 300%;
    color: white;
    background-color: #0a58bd;
    /* padding: auto;    */
    border-radius: 5px;
    /* margin-top: auto; */
}

