
.footer-container {
  left:0;
  bottom:0;
  right:0;
  top:0;
  height: 75px;
  min-height: var(--frame-height);
  width: 100%;
  font-size: var(--medium-text);
  display: flex;
  flex-direction: row;
  align-items: left;
  background-color: #e1edfd;
  /* background-color: red; */
  justify-content: space-between;
}

.footer-section{
  display: flex;
  margin-left: 5%;
  flex-direction: row;
  width: 20%;
  min-width: fit-content;
  justify-content: space-between;
}

.version{
  color: var(--text-gray);
  text-align: center;
  padding-left: 10px;
  padding-right: 200px;
}

/* .names{
  color:var(--text-dark-blue);
  text-align: left;
  padding: 12px;
}

.leftFooter {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.update{
  color: var(--text-gray);
  text-align: center;
  display: flex;
  flex-direction: row;
  padding-right: 200px;
}

.year{
  color: var(--text-dark-blue);
  text-align: right;
  padding: 12px;
}

.name{
  flex: 1;
  flex-direction: row;
  text-align: left;
}


.update {
  flex: 1;
  flex-direction: row;
  text-align: center;
}

.years {
  flex: 1;
  flex-direction: row;
  text-align: right;
} */