
.footer-container {
  left:0;
  bottom:0;
  right:0;
  min-height: var(--frame-height);
  width: 100%;
  font-size: var(--medium-text);
  display: flex;
  align-items: center;
  background-color: #e1edfd;
  display: flex;
  justify-content: space-between;
}

.names{
  color:var(--text-dark-blue);
  text-align: left;
  padding: 12px;
}

.leftFooter {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.update{
  color: var(--text-gray);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-right: 200px;
}

.year{
  color: var(--text-dark-blue);
  text-align: right;
  padding: 12px;
}

.name{
  flex: 1;
  text-align: left;
}


.update {
  flex: 1;
  text-align: center;
}

.years {
  flex: 1;
  text-align: right;
}