.graphbar-container{
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
}
.btns-row{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.title{
    float: center;
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary);
    width: 30%;
    height: 100%;
}

.graph-info{
    float: right;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary);
    padding-right: 20px;
}

.threashold-row
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 10px;
}
.btns-container{
    display: flex;
    flex-direction: row;
    width:  30%;
    height: 100%;
}
.graph-notice{
    font-size: 19px;
    margin-bottom: 4px;
    text-align: center;
}
.bold{
    font-weight: bold;
    color: black;
}
.threashold-row #positiveThreshold{
    width: 20%;
}

.threashold-row #negativeThreshold{
    width: 20%;
}
.threashold-row label{
    display: flex;
    padding: 5px;
    color: var(--primary);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}