.panel-container{
    /* position: "absolute";
    
    width: 50px;
    height: 100px; */
    position: absolute;
    left: 10px;
    top: 70px;
    z-index: 2;
    height: fit-content;
    width: 300px;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--text-dark-blue);
    border: 1px solid var(--primary);
    word-break: break-word; 
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    height: 50%;
    overflow-y: scroll;

    /* -webkit-box-shadow: inset 0 0 5px var(--text-dark-blue); */

    /* bg-white shadow-xl rounded-lg
    bg-cover bg-center p-4
    flex p-4 border-t border-gray-300 text-gray-700 */
}

.panel-container-span{

    font-weight: bold;
    padding-right: 4px;
    font-family: sans-serif;
}

.close-button{
    color: red;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    padding: 2px;
    margin: 4px;
    border:  solid 1px rgb(233, 243, 243);
    border-radius: 4px;
    background-color: rgb(233, 243, 243);
}

.close-button:hover{
    font-size:x-large;
    box-shadow: 5px 5px black;
}

.paragraph-style{
    font-family: sans-serif;
    margin-top: 10px;
    font-size: 13.5px;
}

.clickable-link{
    cursor: pointer;
    color: #0077cc;
    text-decoration: underline; 
}

.clickable-link:hover {
  color: #005599;        /* optional hover color */
}