.result-container{
    width: 100%;
    height: 110%;
    padding: 10px;
    background-color: white;
    display: flex;
    overflow: auto;
    flex-direction: column;
}
.vector-bar{
    width: 100%;
    height: 60px;
}
.graph-wrapper{
    width: 100%;
    height: 100%;
}
.graph-buttons{
    height: 15%;
    width: 100%;
    background-color: red;
}
.graph-canvas{
    height: 80%;
    width: 100%;
}

/*

.vectors-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 20%;
    border-right: 1px solid var(--border-color);
}
.graphs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
}

.type-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
}

.html-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    overflow: hidden;
background-color: red;
}
.scroll {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.vector-button{
    width: 100%;
}
.sideBar {

    align-self: baseline;

    width: 100%;
    flex-direction: column;

} */