.result-container{
    width: 100%;
    height: 110%;
    padding: 10px;
    display: flex;
    overflow: auto;
    flex-direction: column;
    background-color: white;
}
.vector-bar{
    width: 100%;
    height: 65px;
}
.graph-wrapper{
    width: 100%;
    height: 100%;
}
.graph-buttons{
    height: 85px;
    width: 100%;
}
.graph-canvas{
    height: calc(100% - 85px);
    width: 100%;
}