
.SaveGraphWrapper {
    background-color: blue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ApplyAllMenu {
    background-color: aqua;
    width: 100%;
    height: 15%;
    min-height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.IndividualMenu{
    background-color: purple;
    width: 100%;
    height: 90%;
}

.ApplyAllMenuOption {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: pink;
}

.ApplyAllMenuOptiontitle {
    text-align: center;
}