.saveData {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.SectionWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border: 5px solid black;
    border-radius: 20px;
}

.SectionContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 120px);
    overflow-y: scroll;
}

.SectionTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    overflow-y: hidden;
    font-size: var(--medium-text);
}

.SectionFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    overflow-y: hidden;
    margin: 5px
}

/* .AlternativeNames {
    background-color: aqua;
}

.ManualNames {
    background-color: yellow;
} */