
.SaveGraphWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ApplyAllMenu {
    background-color: var(--soft-gray);
    width: 100%;
    height: 15%;
    min-height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.IndividualMenu{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.IndividualMenuOption {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.IndividualMenuOptionItem {
    width: calc(25% - 20px);
}

.IndividualMenuOptionTitle {
    text-align: center;
    width: 60px;
}

.ApplyAllMenuOption {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.ApplyAllMenuOptiontitle {
    text-align: center;
}

.ApplyAllButtonsWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.usePresetCheckboxWrapper {
    width: 60px;
    display: flex;
    flex-direction: row;
}

.usePresetLabel {
    margin-left: 10px;
}