


.suggestions-scroll {
  overflow-y: scroll;
  width: 100%;
  height: 70%;
  padding: 100px;
  /* padding-bottom: 50px; */
}

.suggestions-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
}

.fieldset-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: var(--small-text);
    /* overflow: hidden; */
    align-items: center;
}

.protein-label{
  font-weight: bold;
  margin: 5px;
}
.suggestions-stats{
  background-color: var(--soft-gray);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40px;
}

.suggestions-buffer {
  height: 100px;
  background-color: black;
}

/*
.suggestions-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    padding: 5px;
}

.include-prompt{
    width: 10%;
    height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: var(--text-blue);
    font-size: var(--small-text);
}

.match-prompt{
    width: 90%;
    height: 100%;
   display: flex;
   justify-content: start;
   align-items: center;
    font-size: var(--medium-text);
    padding: 10px;
}
.fieldset-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: var(--small-text);
    overflow: hidden;
}

.check-container{
    height: 100%;
    width: 10%;
    display: flex;
   justify-content: center;
   align-items: center;
}

.suggestions-checkbox{
 width: 20px !important;
 height: 20px !important;
   margin: 5px;
 -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: 1px solid var(--text-blue);
  box-shadow: none;
  text-align: center;
  line-height: 1em;
  font-size: var(--small-text);
}

input[type='checkbox']:checked:after {
  content: '✔';
  color: var(--text-blue);
}

.suggestion-container{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
} 
.suggestions-box{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
   border:  1px solid var(--soft-gray);
}

.one-suggestion>*{
    margin: 2px;
}
.one-suggestion{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: var(--small-text);
    align-items: center;
    justify-content: center;
   
}
.one-suggestion>input[type=text]{
    width: 120px;
} */

/* 
.suggestions-row{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    padding: 10px;
}
.suggestions-row-must-fill{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 236, 231);
}

.name-label{
    margin-left: 2px;
}
*/