.formWrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 90%;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: scroll;
}

.vectorWrapper {
    display: flex;
    flex-direction: column;
    min-height: 120px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

.vectorHeader {
    background-color: var(--primary);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    color: white;
}

.ThresholdsWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Threshfield {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: auto;
    margin-right: 5px;
};